* {
    padding: 0;
    margin: 0;
}

.background {
    position :fixed;
    display: flex;
    z-index: -1;
    width: 100px;
    height: 100px;
}

.banner {
    width: 450px;
    height: 85%;
    background-color:blueviolet;
}

body {
    background-image: url('background.jpg');
    background-repeat: repeat;
    background-size: 24%;
}

.banner_box {
    display: flex;
    width: 100%;
    height: 200px;
    margin-top: 70px;
    background-color:#ffffff00;
    justify-content: space-between;
    align-items: center;
}

.L_banner_arrrow {
    height: 25%;
    margin-left: 30%;
}

.R_banner_arrow {
    height: 25%;
    margin-right: 30%;
}

.filters_menu {
    display: block;
    width: 20%;
    height: 471px;
    background-color: rgba(53, 53, 53, 1);
}

.filter {
    font-size: large;
    font-weight: bold;
    text-align: left;
    margin-top: 25px;
    margin-left: 25px;
    height: 50px;
    width: 75%;
}

.logo_img {
    height: 90%;
}

.logo_text {
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
    padding: 0px 50px 0px 20px;
}

.main_title {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    width: 100%;
    height: 7%;
    top: 0px;
    left: 0px;
    background-color: rgba(53, 53, 53, 1);
}

.main_title a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.main_title a:hover {
    text-decoration: underline;
}

.main_menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    background-color:#ffffff00;
}

.products_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    width: 80%;
    height: 2000px;
    background-color: rgba(237, 237, 237, 1)
}

.prof_logo {
    height : 90%;
    margin-right : 25px;

}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background:#00000038;
    z-index: 1;
    display: none;
}

.popup .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%) scale(0);
    background:rgba(53, 53, 53, 1);
    width: 500px;
    height: 460px;
    z-index: 2;
    text-align: center;
    box-sizing: border-box;
    color: white;
}

.popup .close_btn{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #fff;
    color: rgba(53, 53, 53, 1);
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 25%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition:all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
    font-size: 50px;
}

.login_input {
    position: fixed;
    top: 150px;
    left: 170px;

}

.pass_input {
    position: fixed;
    top: 170px;
    left: 170px;

}

.login_button {
    height: 30px;
    width: 100px;
    position: fixed;
    top: 300px;
    left: 200px;
}

.registration_button {
    height: 30px;
    width: 100px;
    position: fixed;
    top: 350px;
    left: 200px;

}


.search-bar {
    flex-grow: 1;
    margin: 0 20px;
}

.search-bar input {
    font-size: large;
    border-radius: 12px;
    width: 70%;
    min-height: 40px;
    padding: 5px;
}

.test_class {
    width: 100%;
    height: 1000px;
}

.test_product {
    margin: 20px 20px 0px 20px;
    background-color:#fff;
    height: 235px;
    width: 180px;
}