<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="../static/js/scripts.js"></script>
</head>
<body>

    <!--Main Title-->

    <div class="main_title">

        <img class="logo_img" src="../static/img/logo-img.png" alt="There must be logo">
        <p class="logo_text">ЗАЛУПА-МАКІ</p>

      <nav>
        <a href="#menu">МЕНЮ</a>
        <a href="#about" onclick="toggle_aboutus_popup()">ПРО НАС</a>
      </nav>

      <div class="search-bar">
        <input type="text" placeholder="Пошук...">
      </div>

      <div class="cart-icon">
        <a href="#cart" class="cart">🛒</a>
        <span>1</span>
      </div>
      
      <button onclick="toggle_login_popup()" type="button" class="prof_logo">
        <img class="" src="../static/img/logo-img.png" alt="profile logo" height="100%">
      </button>
    </div>

    <!--Banner-->

    <div class="banner_box">
      <input class="L_banner_arrrow" type="image" src="../static/img/logo-img.png" alt="LArrow"></input>

      <input class="banner" type="image" src="../static/img/logo-img.png" alt="There mus be AD"></input>

      <input class="R_banner_arrow" type="image" src="../static/img/logo-img.png" alt="LArrow"></input>
    </div>

    <!--Main Menu-->
    <div class="main_menu">

      <div class="filters_menu">

        <button type="button" class="filter">Перше</button>
        <div class="sub_filter" id="">        
          <a href="#">Aboba</a>
          <p>Aboba</p>
          <p>Aboba</p>
          <p>Aboba</p>
          <p>Aboba</p>
        </div>

        <button type="button" class="filter">Друге</button>
        <button type="button" class="filter">Сушки</button>
        <button type="button" class="filter">Піцка</button>
        <button type="button" class="filter">Ванючки</button>

      </div>

      <div class="products_menu">
          {% for product in products %}
              <div>
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <img src="{{ product.image_url }}" alt="{{ product.name }}" style="width:200px;height:auto;">
                <p>Price: ${{ product.price }}</p>
              </div>
          {% endfor %}
      </div>

    </div>



    <!--Login/Registration Popups-->

    <div class="popup" id="popup_login">
      <div class="overlay" onclick="toggle_login_popup()"></div>
      <div class="content">
        <div class="close_btn" onclick="toggle_login_popup()">&times;</div>
        <h1 class="popup_main">Вхід</h1>

        <form action="/login" method="POST">
         <input class="login_input" type="text" id="login-username" placeholder="gmail">
         <input class="pass_input" type="password" id="login-password" placeholder="password">

         <button class="login_button" type="submit">Увійти</button>
        </form>
        </p><button onclick="toggle_registration_popup()" class="registration_button" type="button"><span>Немає аккаунту? </span>Реєстрація</button>
      </div>
    </div>

    <div class="popup" id="popup_reg">
      <div class="overlay" onclick="toggle_registration_popup()"></div>
      <div class="content">
        <div class="close_btn" onclick="toggle_registration_popup()">&times;</div>
        <h1 class="popup_main">Реєстрація</h1>

        <form action="/register" method="POST">
            <input class="login_input" type="text" id="reg-username" placeholder="gmail">
            <input class="pass_input" type="password" id="reg-password" placeholder="password">
            <input class="pass_input" type="password" id="reg-confirm_password" placeholder="confirm_password">

            <button class="login_button" type="submit">Зареєструватися</button>
        </form>

        </p><button onclick="toggle_registration_popup()"2 class="registration_button" type="button"><span>Вже маєте аккаунту? </span>Увійти</button>
      </div>
    </div>


    <!--About us Popup-->

    <div class="popup" id="popup_about">
      <div class="overlay" onclick="toggle_aboutus_popup()"></div>
      <div class="content">
        <div class="close_btn" onclick="toggle_aboutus_popup()">&times;</div>
        <h1 class="popup_main">Про нас</h1>
        <p>Номер телєфончіку:</p><a href="#" onclick="copy_on_clipboard('phone_copy')" id="phone_copy">+380 677 06 12 94</a>
        <p>Поштова скринюлічка:</p><a href="#" onclick="copy_on_clipboard('gmail_copy')" id="gmail_copy">bebra@gmail.com</a>
      </div>
    </div>

    <!--Product about Popup-->
    
    <div class="popup" id="popup_prduct">
      <div class="overlay" onclick="toggle_registration_popup()"></div>
      <div class="content">
        <div class="close_btn" onclick="toggle_registration_popup()">&times;</div>
        <h1 class="popup_main">Реєстрація</h1>

        <form action="" method="POST" enctype="multipart/form-data">
         <input class="login_input" type="text" placeholder="gmail">
          <input class="pass_input" type="password" placeholder="password">
          <button class="login_button" type="submit">Зареєструватися</button>
        </form>

        </p><button onclick="toggle_registration_popup()"2 class="registration_button" type="button"><span>Вже маєте аккаунту? </span>Увійти</button>
      </div>
    </div>

    <div class="test_class"></div>
</body>
</html>
