<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant</title>
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="../static/js/scripts.js" defer></script>
</head>
<body>

    <!--TEST-->
    <a href="" class="VERSION" id="VERSION" onclick="">Z</a>

    <!--Main Title-->

    <div class="main_title">

        <img class="logo_img" src="../static/img/logo-img.png" alt="There must be logo">
        <p class="logo_text">ЗАЛУПА-МАКІ</p>

      <nav>
        <a href="#menu" onclick="location.href = 'menu'">МЕНЮ</a>
        <a href="#about" onclick="toggle_popup('popup_about')">ПРО НАС</a>
      </nav>

      <div class="search-bar">
          <input id="searchQuery" type="text" placeholder="Пошук..." name="text">
          <button onclick="searchProducts()" class="search_button">Search</button>
          <ul id="results"></ul>
      </div>

      <div class="cart-icon">
        <a href="#cart" class="cart" onclick="bebra()">🛒</a>
        <span>1</span>
      </div>
      
      <button onclick="location.href = ''" type="button" class="prof_logo">
        <img class="" src="../static/img/logo-img.png" alt="profile logo" height="100%">
      </button>
    </div>

    <!--Banner-->

    <div class="banner_box">
      <input class="L_banner_arrrow" type="image" src="../static/img/logo-img.png" alt="LArrow"></input>

      <input class="banner" type="image" src="../static/img/logo-img.png" alt="There mus be AD"></input>

      <input class="R_banner_arrow" type="image" src="../static/img/logo-img.png" alt="LArrow"></input>
    </div>

    <!--Main Menu-->
    <div class="main_menu">

      <div class="filters_menu">

        {% for filters_theme in filters_theme %}
          <button type="button" class="filter">{{filters_theme.filters_theme}}</button>
          <div class="sub_filter" id="">
            <a href="#">{{filters_name}}</a>
          </div>
        {% endfor %}


        <button type="button" class="filter">Перше</button>
        <div class="sub_filter" id="">        
          <a href="#">Aboba</a>

        </div>

        <button type="button" class="filter">Друге</button>
        <button type="button" class="filter">Сушки</button>
        <button type="button" class="filter">Піцка</button>
        <button type="button" class="filter">Ванючки</button>

          {% if message %}
              <p>{{ message }}</p>
          {% endif %}

      </div>
            <h1 style="text-align: center">Menu</h1>
          <div id="product_container" class="products_menu">

            {% for category, items in products.items() %}
                <h1>Категорія {{ category }}</h1><br><br>

                {% for product in items %}
                    <button id="product_{{ product.name }}" class="test_product" onclick="toggle_popup('popup_{{ product.name }}')">
                        <img src="{{ product.image_url }}" alt="{{ product.name }}" style="width:100%;height:65%;">
                        <h2>{{ product.name }}</h2>
                        <p>{{ product.description }}</p>
                        <p>Price: ${{ product.price }}</p>
                    </button>

                    <!--Product about Popup-->
                    <div class="popup" id="popup_{{ product.name }}">
                        <div class="overlay" onclick="toggle_popup('popup_{{ product.name }}', 'overlay')"></div>
                        <div class="content">
                            <div class="close_btn" onclick="toggle_popup('popup_{{ product.name }}', 'close_btn')">&times;</div>
                            <img src="{{ product.image_url }}" alt="{{ product.name }}" style="width:50%;height:85%;">
                            <p>{{ product.name }}</p>
                            <p>Price: ${{ product.price }}</p>
                        </div>
                    </div>

                {% endfor %}

            {% endfor %}

          </div>
    </div>



    <!--Login/Registration Popups-->

    <div class="popup" id="popup_login">
      <div class="overlay" onclick="toggle_popup('popup_login')"></div>
      <div class="content">
        <div class="close_btn" onclick="toggle_popup('popup_login')">&times;</div>
        <h1 class="popup_main">Вхід</h1>

        <form action="" method="POST">
         <input class="login_input" type="text" id="login-username" placeholder="gmail">
         <input class="pass_input" type="password" id="login-password" placeholder="password">

         <button class="login_button" type="submit">Увійти</button>
        </form>
        </p><button onclick="toggle_popup('popup_reg')" class="registration_button" type="button"><span>Немає аккаунту? </span>Реєстрація</button>
      </div>
    </div>

    <div class="popup" id="popup_reg">
      <div class="overlay" onclick="toggle_popup('popup_reg')"></div>
      <div class="content">
        <div class="close_btn" onclick="toggle_popup('popup_reg')">&times;</div>
        <h1 class="popup_main">Реєстрація</h1>

        <form action="/" method="POST" id="reg_form">
            <input class="login_input" type="text" id="reg-username" placeholder="gmail">
            <input class="pass_input" type="password" id="reg-password" placeholder="password">
            <input class="pass_input" type="password" id="reg-confirm_password" placeholder="confirm_password">

            <button class="login_button" type="submit">Зареєструватися</button>
        </form>

        </p><button onclick="toggle_popup('popup_reg')"2 class="registration_button" type="button"><span>Вже маєте аккаунту? </span>Увійти</button>
      </div>
    </div>


    <!--About us Popup-->

    <div class="popup" id="popup_about">
      <div class="overlay" onclick="toggle_popup('popup_about')"></div>
      <div class="content">
        <div class="close_btn" onclick="toggle_popup('popup_about')">&times;</div>
        <h1 class="popup_main">Про нас</h1>
        <p>Номер телєфончіку:</p><a href="#" onclick="copy_on_clipboard('phone_copy')" id="phone_copy">+380 677 06 12 94</a>
        <p>Поштова скринюлічка:</p><a href="#" onclick="copy_on_clipboard('gmail_copy')" id="gmail_copy">bebra@gmail.com</a>
      </div>
    </div>

    <div class="test_class"></div>
</body>
</html>
