<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/scripts.js" defer></script>
</head>
<body> 
    <div class="main_title">

        <img class="logo_img" src="../static/img/Golden_Fork_logo.png" alt="There must be logo">

      <nav>
        <a href="#menu" onclick="location.href = 'menu'">МЕНЮ</a>
        <a href="#about" onclick="toggle_popup('popup_about')">ПРО НАС</a>
      </nav>

      <div class="search-bar">
          <input id="searchQuery" type="text" placeholder="Пошук..." name="text">
          <button onclick="searchProducts()" class="search_button">🔍</button>
          <ul id="results"></ul>
      </div>

      <div class="cart-icon">
        <a href="#cart" class="cart" onclick="bebra()">🛒</a>
        <span></span>
      </div>
        <h1 style="color:white;">{{ username }}</h1>
      <button onclick="window.location.href = '/user-account'" type="button" class="prof_logo">
        <img class="" src="../static/img/130-1300400_user-hd-png-download.png" alt="profile logo" height="100%">
      </button>
    </div>

    <!--Banner-->

    <div class="banner_box">
        <button class="L_banner_arrrow" id="prev">&#8592;</button>
        <div class="slider-container">
          <div class="slides">
                <div class="slide">
                    <p>Andriy Zhmurko(Backend)</p>
                    <a href="https://github.com/Andriy2444" target="_blank">GitHub: Andriy2444</a>
                </div>
                <div class="slide">
                    <p>Orest Osadec(Frontend)</p>
                    <a href="https://github.com/Jefrex1" target="_blank">GitHub: Jefrex1</a>
                </div>
                <div class="slide">
                    <p>Artem Kuranov(Frontend)</p>
                    <a href="https://github.com/ArtemKuranov" target="_blank">GitHub: ArtemKuranov</a>
                </div>
                <div class="slide">
                    <p>Natalia Shyngelska(Backend)</p>
                    <a href="https://github.com/nataliashyngelska" target="_blank">GitHub: nataliashyngelska</a>
                </div>
          </div>
        </div>
        <button class="R_banner_arrow" id="next">&#8594;</button>
    </div>

    <!--Main Menu-->
    <div id="main_menu" class="main_menu">

        <div class="filters_menu">
            <form action="/user-account" method="POST">
                <button type="submit" class="login_button">Вийти з акаунта</button>
            </form>
        </div>

        <div class="account-menu">
            <h1 class="center-title">З поверненням {{ username }}!</h1><br><br>
            <div class="history-box">
                <h2>Ваша історія покупок</h2>
                <ul>
                    {% for log in user_logs %}
                        <li>
                            <p><strong>Загальна сума:</strong> ${{ log.total_amount }}</p>
                            <p><strong>Час:</strong> {{ log.log_time }}</p>
                        </li>
                    {% else %}
                        <p>Немає записів.</p>
                    {% endfor %}
                </ul>
            </div>
            <br><br>
            <p>Тут ви можете добавляти товар на сайт</p>
            <button onclick="window.location.href = '/add-product'" type="button" >Перейти до добавленню продукту -></button>
        </div>
    </div>

    <div class="popup" id="popup_about">
      <div class="overlay" onclick="toggle_popup('popup_about')"></div>
      <div class="content">
        <div class="close_btn" onclick="toggle_popup('popup_about')">&times;</div>
        <h1 class="popup_main">Про нас</h1>
        <p>Номер телєфончіку:</p><a href="#" onclick="copy_on_clipboard('phone_copy')" id="phone_copy">+380 677 06 12 94</a>
        <p>Поштова скринюлічка:</p><a href="#" onclick="copy_on_clipboard('gmail_copy')" id="gmail_copy">bebra@gmail.com</a>
      </div>
    </div>
</body>
</html>
